* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: rgba(236, 224, 215, 0.678);
}
div {
  background: rgb(245, 199, 130);
}
p {
  background-color: red;
  color: white;
}
