* {
  padding: 0px;
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}
body {
  background-color: aliceblue;
}
div {
  background-color: blanchedalmond;
}
p {
  background-color: aquamarine;
}
