@font-face {
  font-family: "Yekan";
  src: url("./Yekan-Font-master/Yekan.eot"); /* IE9 Compat Modes */
  src: url("./Yekan-Font-master/Yekan.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./Yekan-Font-master/Yekan.woff2") format("woff2"),
    /* Modern Browsers */ url("./Yekan-Font-master/Yekan.woff") format("woff"),
    /* Modern Browsers */ url("./Yekan-Font-master/Yekan.otf")
      format("opentype"),
    /* Open Type Font */ url("./Yekan-Font-master/Yekan.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Yekan";
  font-weight: 400;
  background-color: rgba(236, 224, 215, 0.678);
}
div {
  background: rgb(245, 199, 130);
}
p {
  background-color: rgb(145, 141, 141);
  color: rgb(0, 0, 0);
}
